<footer class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-flex align-items-center justify-content-center pr-0 mr-0">
            <img src="/images/logo.png" alt="" class="img-fluid">
            <img src="/images/vertical.png" alt="" class="img-fluid linha-vertical">
        </div>
        <div class="col-md-9">
            <div class="row">
                <a href="" class="links-menu-footer item1 item2">Home</a>
                <a href="" class="links-menu-footer">Sobre Nós</a>
                <a href="" class="links-menu-footer">Regulamento</a>
                <a href="" class="links-menu-footer">Dúvidas</a>
                <a href="" class="links-menu-footer">Participantes</a>
                <a href="" class="links-menu-footer">Login</a>
                <a href="" class="links-menu-footer">Cadastro</a>
            </div>

            <div class="row item2">
                <a href=""><span class="iconify icones-footer item12" data-icon="akar-icons:facebook-fill"
                    style="color: #e41b40;"></span></a>
                <a href=""><span class="iconify icones-footer" data-icon="entypo-social:twitter-with-circle"
                    style="color: #e41b40;"></span></a>
                <a href=""><span class="iconify icones-footer" data-icon="entypo-social:instagram-with-circle"
                    style="color: #e41b40;"></span></a>
                <a href=""><span class="iconify icones-footer" data-icon="entypo-social:youtube-with-circle"
                    style="color: #e41b40;"></span></a>
                <a href=""><span class="iconify icones-footer" data-icon="entypo-social:linkedin-with-circle"
                    style="color: #e41b40;"></span></a>
                <a href=""><span class="iconify icones-footer" data-icon="akar-icons:github-fill" style="color: #e41b40;"></span></a>
            </div>

            <div class="row mt-4">
                <a href="" class="item1 item2 links-base-footer">&copy; Pegasus Squad</a>
                <span class="links-base-footer"> | </span>
                <a href="" class="links-base-footer">Termos de Uso</a>
                <span class="links-base-footer"> | </span>
                <a href="" class="links-base-footer">Grupo Petrópolis</a>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery, Popper.js e Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- JS da página -->
<script type="text/javascript" src="/js/inicial.js"></script>
</body>

</html>
