<footer class="container-fluid">
    <div class="row">
        <div class="col-md-12 redes_sociais d-flex justify-content-center">
            <span class="iconify mr-2" data-icon="akar-icons:facebook-fill" style="color: #e41b40;"></span>
            <span class="iconify mr-2" data-icon="entypo-social:twitter-with-circle" style="color: #e41b40;"></span>
            <span class="iconify mr-2" data-icon="entypo-social:instagram-with-circle" style="color: #e41b40;"></span>
            <span class="iconify mr-2" data-icon="entypo-social:youtube-with-circle" style="color: #e41b40;"></span>
            <span class="iconify mr-2" data-icon="entypo-social:linkedin-with-circle" style="color: #e41b40;"></span>
            <span class="iconify" data-icon="akar-icons:github-fill" style="color: #e41b40;"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 menu_footer d-flex justify-content-center pt-2 pb-2">
            <a href="">Home</a>
            <a href="">Sobre Nós</a>
            <a href="">Regulamento</a>
            <a href="">Prêmios</a>
            <a href="">Ranking</a>
            <a href="">Login</a>
            <a href="">Cadastro</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="p_white">Mais da nossa marca:</p>
            <div class="d-flex justify-content-center pb-1">
                <span class="iconify mr-3" data-icon="bi:card-image" style="color: #e41b40; font-size: 5vh;"></span>
                <span class="iconify mr-3" data-icon="bi:card-image" style="color: #e41b40; font-size: 5vh;"></span>
                <span class="iconify mr-3" data-icon="bi:card-image" style="color: #e41b40; font-size: 5vh;"></span>
                <span class="iconify mr-3" data-icon="bi:card-image" style="color: #e41b40; font-size: 5vh;"></span>
                <span class="iconify mr-3" data-icon="bi:card-image" style="color: #e41b40; font-size: 5vh;"></span>
                <span class="iconify mr-3" data-icon="bi:card-image" style="color: #e41b40; font-size: 5vh;"></span>
                <span class="iconify mr-3" data-icon="bi:card-image" style="color: #e41b40; font-size: 5vh;"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center copyright pb-0 mb-0">
            <p>&copy; 2021 <a href=""><b>Pegasus Squad</a></b></p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<script>
    function validarAdm() {
        var passwordAdm = "123";
        var nAdm = prompt("Digite a senha de administração do site");

        console.log(passwordAdm)
        console.log(nAdm)

        if (passwordAdm === nAdm) {
            window.location.href = "/usuarios/usuariosTabela"
        } else {
            alert("Senha incorreta")
        }
    }

    //função para habilitar botão de cadastro
    $(document).ready(function () {
        $('#tec').change(function () {
            var aceito = ($(this).val());
            console.log(aceito)

            if (aceito != "on") {
                $('#botaoAceito').prop("disabled", true);
            } else {
                $('#botaoAceito').prop("disabled", false);
            }
        });
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>



<script>
        //validação dos inputs no bootstrap
        (function () {
            'use strict';
            window.addEventListener('load', function () {

                var forms = document.getElementsByClassName('needs-validation');

                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

</script>

<script>

    $(document).ready(function () {

        $('.counter').each(function () {
            var $this = $(this),
                countTo = $this.attr('data-count');

            $({ countNum: $this.text() }).animate({
                countNum: countTo
            },

                {
                    duration: 4000,
                    easing: 'linear',
                    step: function () {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function () {
                        $this.text(this.countNum);
                    }
                });
        });

    });
</script>

<!-- jQuery, Popper.js e Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>

</html>