<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recicla+</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/sobrenos.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/styles/cronograma.css">
    <link rel="stylesheet" href="/styles/mapa.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
</head>

<body>
    <header class="container-fluid sticky-top">
        <div class="row" id="home">
            <div class="col-md-12 menu-global">
                <nav class="navbar navbar-expand-md justify-content-md-center justify-content-start header">
                    <a class="nav-link navbar-brand mx-0 d-md-inline logo_hover" href="/inicial/" ><img
                            src="../../images/logo.png" / style="height: 70px;"></a>
                    <div class="collapse navbar-collapse justify-content-between align-items-center w-100"
                        id="navbarNavAltMarkup">
                        <ul class="navbar-nav mx-auto text-md-center text-left">
                            <li class="nav-item">
                                <a class="nav-link mr-2" href="/inicial/sobre">Sobre Nós</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-2" href="/inicial/regulamento">Regulamento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-2" href="/inicial/cronograma">Cronograma</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-2" href="/inicial/duvidas">Dúvidas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-2" href="/inicial/ranking">Participantes</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                            <li class="nav-item"><a class="nav-link mr-2" href="/usuarios/login">Entrar</a>
                                <!-- criar essa pagina/rota -->
                            </li>
                            <li class="nav-item"><a class="nav-link sel"
                                    href="/usuarios/cadastrarUsuarios">Cadastre-se</a> </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <span class="iconify" data-icon="eva:menu-fill" style="color: white;"></span>
                        </span>
                    </button>
                </nav>
            </div>

        </div>
    </header>
    <div id="topo"></div>