<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="sortcut icon" href="https://d8vlg9z1oftyc.cloudfront.net/artye/image/product/17657b07f205d9cf98ec23e76db2763320190311201634/450/letra-g-azul-claro-5cm_5172.png" type="image/gif" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">


    <title>Pegasus</title>

    <style>
        html {
            scroll-behavior: smooth;
        }
        
        body {
            background-image: url(https://img.elo7.com.br/product/zoom/29C1895/tecido-degrade-conjunto-unicornio-45-x-90-cm-un02-tema-de-festa-infantil.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center
        }
        
        .navbar-brand {
            font-family: 'Russo One', sans-serif;
            font-size: 2.25rem;
            color: red;
        }
        
        .navbar-nav {
            font-variant: small-caps;
            font-size: 1.75rem;
        }
        
        h1 {
            font-variant: small-caps;
        }
        
         ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        /* fundo da barra*/
        
         ::-webkit-scrollbar-track {
            background: rgb(255, 255, 255);
        }
        /* aqui é a alça da barra*/
        
         ::-webkit-scrollbar-thumb {
            background: #b8b8b8;
            border-radius: 5px;
        }
        
        .user {
            color: white;
            text-shadow: 2px 2px 5px black;
        }
        
        #cardFiltrado {
            width: 300px;
            margin: 0 auto;
        }
        
        #msgFiltrado {
            font-size: 50px;
            font-weight: bold;
            padding-top: 10px;
        }
        
        #userFiltrado {
            font-size: 50px;
            font-weight: bold;
            padding-top: 10px;
            margin-bottom: 20px;
        }
        
        .card-columns {
            margin: 0 auto;
        }
        
        table tr td a {
            display: block;
            height: 100%;
            width: 100%;
        }
        
        @media (max-width: 576px) {
            /* de 0px até 576px */
            .card-columns {
                margin-left: 25%;
                width: 300px;
            }
            .mensagem {
                padding-top: 15px;
            }
            .user {
                padding-top: 20px;
            }
        }
        
        @media (min-width:576px) and (max-width:767px) {
            /* de 576px até 767px */
            .card-columns {
                column-count: 2;
            }
            .mensagem {
                padding-top: 10px;
            }
        }
        
        @media (min-width:768px) and (max-width: 992px) {
            /* de 768px até 992px*/
        }
        
        @media (min-width:992px) and (max-width: 1200px) {
            /* de 992px a 1200 */
            .card-columns {
                column-count: 4;
            }
        }
        
        @media (min-width: 1200px) {
            /* maior que 1200 */
            .card-columns {
                column-count: 4;
            }
            .mensagem {
                padding-top: 10px;
            }
            .user {
                padding-top: 10px;
            }
        }
        
        footer {
            box-shadow: 5px 5px 10px black;
        }
    </style>
</head>

<body>
    <header class="shadow-lg sticky-top">

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="/" id="nome" style="color: red;">Logo Menu Novo</a>

            <button class="navbar-toggler btn" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="">

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-menu-up" viewBox="0 0 16 16">
                        <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"/>
                      </svg>

                </span>
            </button>

            <div class="collapse navbar-collapse text-right" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link px-5" href="/usuarios/cadastrarUsuarios">Cadastrar</a>
                    </li>
                </ul>
            </div>
        </nav>


    </header>
    <div id="topo"></div>