<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="sortcut icon" href="https://d8vlg9z1oftyc.cloudfront.net/artye/image/product/17657b07f205d9cf98ec23e76db2763320190311201634/450/letra-g-azul-claro-5cm_5172.png" type="image/gif" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <title>Pegasus</title>

    <style>
        html {
            scroll-behavior: smooth;
        }
        
        body {
            background-image: url(https://static.vecteezy.com/system/resources/previews/000/622/146/large_2x/vector-abstract-gray-lines-wave-pattern-on-white-background-texture.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center
        }
        
        #header {
            padding: 30px;
        }
        
        #header.large {
            padding: 30px;
            transition: 1s;
        }
        
        #header.small {
            padding: 0px;
            transition: 1s;
        }
        
        .navbar-brand {
            font-family: 'Russo One', sans-serif;
            font-size: 2.25rem;
            color: #6ec0f7;
        }
        
        .navbar-nav {
            font-variant: small-caps;
            font-size: 1.75rem;
        }
        
        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            position: relative;
            opacity: 0.4;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .bgimg-1 {
            background-image: url("https://img.elo7.com.br/product/zoom/29C1895/tecido-degrade-conjunto-unicornio-45-x-90-cm-un02-tema-de-festa-infantil.jpg");
            min-height: 800px;
        }
        
        .bgimg-2 {
            background-image: url("https://img.elo7.com.br/product/zoom/29C1895/tecido-degrade-conjunto-unicornio-45-x-90-cm-un02-tema-de-festa-infantil.jpg");
            min-height: 800px;
        }
        
        .bgimg-3 {
            background-image: url("https://img.elo7.com.br/product/zoom/29C1895/tecido-degrade-conjunto-unicornio-45-x-90-cm-un02-tema-de-festa-infantil.jpg");
            min-height: 800px;
        }
        
        .caption {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #000;
        }
        
        .caption span.border {
            color: #fff;
            text-shadow: 2px 2px 15px black;
            padding: 18px;
            letter-spacing: 10px;
            font-size: 25px;
            background-color: rgba(80, 80, 80, 0.781);
        }
        
        h1 {
            font-variant: small-caps;
        }
        /* barra de rolagem */
        
         ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        /* fundo da barra*/
        
         ::-webkit-scrollbar-track {
            background: rgb(255, 255, 255);
        }
        /* alça da barra*/
        
         ::-webkit-scrollbar-thumb {
            background: #b8b8b8;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <div class=" bgimg-1" id="topo">
        <div class="caption"></div>
    </div>

    <div id="header" class="shadow-lg sticky-top">

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="/" id="nome" style="color: #6ec0f7;;">Logo</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-right" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link px-5" href="/usuarios/cadastrarUsuarios">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios">Atualizações</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <a class="text-decoration-none" href="" data-toggle="modal" data-target="#insp">
                <span class="border px-5">Inspiração</span>
            </a>
        </div>
    </div>

    <div class="modal fade" id="insp" tabindex="-1" role="dialog" aria-labelledby="Titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="TituloModalLongoExemplo">Inspiração</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>teste</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#588fb4;text-align:center;padding:50px 80px;text-align: center; font-size: 30px;">
            <p>Venha fazer parte da nova sensação da internet!</p>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <a class="text-decoration-none" href="/usuarios/cadastrarUsuarios"><span
                    class="border px-5">CADASTRAR</span></a>
        </div>
    </div>

    <footer class="p-3 bg-light d-flex justify-content-around">
        <div id="esquerda">
            <div class="list-group list-group-flush text-left">
                <h4 class="list-group-item">Mapa do Site</h4>
                <a href="/usuarios/cadastrarUsuarios" class="list-group-item">Cadastrar</a>
                <a href="/usuarios" class="list-group-item">Ver Atualizações</a>
                <a href="#topo" class="list-group-item">Voltar ao topo</a>
            </div>
        </div>

        <div id="centro">
            <a id="nome" class="navbar-brand p-3" href="/">
                Logo
            </a>
            <p class="small pt-5">Desenvolvido por Luiza Gontijo, 2021</p>

        </div>

        <div id="direita">
            <div class="list-group list-group-flush">
                <a class="list-group-item" href="/usuarios/termos">Termos e Condições</a>
                <a class="list-group-item" href="/usuarios/politica">Política de Privacidade</a>
                <a class="list-group-item" href="https://api.whatsapp.com/send?phone=5531995926916&text=Oi%2C%20tenho%20d%C3%BAvidas%20sobre%20a%20maravilhosa%20rede%20social%20Gugu%2C%20voc%C3%AA%20pode%20me%20ajudar%3F">Contato</a>
                <button class="list-group-item" onclick="validarAdm()">Administração</button>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script>
        //senha para abrir a pagina de administrador
        function validarAdm() {
            var passwordAdm = "123";
            var nAdm = prompt("Digite a senha de administração do site");

            console.log(passwordAdm)
            console.log(nAdm)

            if (passwordAdm === nAdm) {
                window.location.href = "/usuarios/usuariosTabela"
            } else {
                alert("Senha incorreta")
            }
        }

        //função para diminuir menu quando abaixa a pagina
        $(document).on("scroll", function() {
            if ($(document).scrollTop() > 800) {
                $("#header").removeClass("large").addClass("small");
            } else {
                $("#header").removeClass("small").addClass("large");
            }
        });
    </script>
</body>

</html>