<%- include('../partials/headerDashboard'); %>
    <main class="containerEnvio container-fluid">
        <div class="col-md-6 form-envio">
            
            <label for="formFileMultiple" class="form-label">Comprovação:</label>
            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Clique aqui pra escolher o arquivo</label>
                </div>
            </div>


            <div>
                <b>Tipo do(s) arquivo(s):</b>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Imagem</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Vídeo</label>
                </div><br>
                <label for="atividade" class="pt-3">Atividade realizada:</label>
                <select id="atividade" class="form-select" aria-label="Default select example">
                    <option selected disabled>Selecione a atividade realizada</option>
                    <option value="1">Certificado de coleta</option>
                    <option value="2">Atividade realizada na escola</option>
                </select>
            </div>

            <button class="botao-vamos-jogar">Vamos jogar?</button>
        </div>
    </main>

    <%- include('../partials/footerDashboard'); %>