<%- include('../partials/header'); %>

    <main class="container register">

        <div class="row ">
            <div class="col-md-3 register-left">
                <img src="/images/logo.png" alt="" />
                <h3>Bem-vindo(a)!</h3>
                <p>Faça seu cadastro para acessar nossa plataforma.</p>
                <a href="/usuarios/login"><input type="submit" name="" value="Entrar" /></a>                
            </div>
            <div class="col-md-9 register-right">                
                <div class="tab-content" id="myTabContent">
                    <form action="/usuarios/cadastrarUsuarios" method="POST" name="formulario" novalidate>
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Passo 1 — Dados do Representante</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="nome " name="nome"
                                            placeholder="Nome Completo *" minlength="3" required value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF *"
                                            value="" minlength="11" maxlength="11" required />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="senha" name="senha"
                                            placeholder="Senha(6 caracteres) *" minlength="6" maxlength="6" required
                                            value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="confirmaSenha"
                                            name="confirmaSenha" placeholder="Confirme sua Senha *" minlength="6"
                                            maxlength="6" required value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="E-mail *" value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="telefone" name="telefone"
                                            placeholder="Telefone *" minlength="10" required value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            placeholder="Nome de usuário(mínimo 4 caracteres) * " id="nomeU"
                                            name="nomeU" minlength="4" required value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h3 class="register-heading">Passo 2 — Dados da Escola</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="codigo" name="codigo"
                                            placeholder="Código da escola *" minlength="8" maxlength="8" required
                                            value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="escola" name="escola"
                                            placeholder="Nome da escola *" value="" disabled />
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Número de alunos *"
                                            id="alunos" name="alunos" maxlength="7" required value="" />
                                    </div>
                                    <div class="invalid-feedback">
                                        Preenchimento obrigatório.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade *" minlength="2"
                                        maxlength="40" required value="" />
                                    </div>
                                    <div class="form-group">                                        
                                       
                                        <select class="custom-select d-block w-100" id="estado" name="estado" required>
                                            <option value="Escolha">Estado</option>
                                            <option>Acre</option>
                                            <option>Alagoas</option>
                                            <option>Amapá</option>
                                            <option>Amazonas</option>
                                            <option>Bahia</option>
                                            <option>Ceará</option>
                                            <option>Distrito Federal</option>
                                            <option>Espírito Santo</option>
                                            <option>Goiás</option>
                                            <option>Maranhão</option>
                                            <option>Mato Grosso</option>
                                            <option>Mato Grosso do Sul</option>
                                            <option>Minas Gerais</option>
                                            <option>Pará</option>
                                            <option>Paraíba</option>
                                            <option>Paraná</option>
                                            <option>Pernanbuco</option>
                                            <option>Piauí</option>
                                            <option>Rio de Janeiro</option>
                                            <option>Rio Grande do Norte</option>
                                            <option>Rio Grande do Sul</option>
                                            <option>Rondônia</option>
                                            <option>Roraima</option>
                                            <option>Santa Catarina</option>
                                            <option>São Paulo</option>
                                            <option>Sergipe</option>
                                            <option>Tocantins</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <!-- termos e condições -->
                                    <div>
                                        <a href="#" class="pr-5" data-toggle="modal" data-target="#textoTermos">
                                            Termos e Condições
                                        </a>
                                        <div class="modal fade" id="textoTermos" tabindex="-1" role="dialog"
                                            aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="TituloModalLongoExemplo">Termos e
                                                            Condições</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Fechar">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ul>
                                                            <li>É necessário preencher todos os campos para cadastro e
                                                                aceitar os termos aqui descritos:
                                                            </li>
                                                            <li>Eu li o <a href="/inicial/regulamento">Regulamento</a> e
                                                                estou de acordo com todos os termos dispostos.</li>
                                                            <li>O envio de informações para a pontuação na Trilha será
                                                                regido pelo Regulamento. Você declara e garante que
                                                                quaisquer informações que você forneça são e deverão
                                                                permanecer verdadeiras, exatas e completas, e que você
                                                                manterá e atualizará essas
                                                                informações regularmente. Você concorda que, se qualquer
                                                                das informações que você fornecer for falsa, inexata,
                                                                obsoleta ou incompleta, acarretará na elimição da Escola
                                                                da competição.
                                                            </li>
                                                            <li>Seu nome de usuário e a senha são para seu uso pessoal
                                                                somente, e não para uso por qualquer outra pessoa. Você
                                                                é responsável por manter a confidencialidade de qualquer
                                                                senha que você possa usar para acessar a plataforma, e
                                                                concorda em não transferir sua senha ou nome de usuário,
                                                                ou emprestar ou, de qualquer outra forma, transferir o
                                                                seu uso a qualquer terceiro.
                                                            </li>
                                                            <li>As informações e materiais disponibilizados através da
                                                                plataforma são e permanecerão de propriedade do Grupo
                                                                Petrópolis e de
                                                                seus licenciadores e fornecedores, e são protegidos por
                                                                direitos autorais, marcas registradas, patentes e/ou
                                                                outros direitos de propriedade e leis.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input class="form-check-input" type="checkbox" name="tec" id="tec">
                                        <label class="form-check-label" for="tec">Aceito</label>
                                    </div>
                                    <button type="submit" id="botaoAceito" class="btnRegister"
                                        disabled>Cadastrar</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
  
    <%- include('../partials/footer'); %>