<%- include('../partials/header'); %>

<main class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div style="background: #e41b40; height: 40vh;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="toneladas_e_jovens">
                <span class="iconify" data-icon="mdi:recycle" style="color: #e41b40; font-size: 20vh;"></span>
                <br>
                <span class="counter estilo_contador" data-count="40">0</span>
                <h3>Toneladas Arrecadadas</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="toneladas_e_jovens">
                <span class="iconify" data-icon="akar-icons:people-group"
                    style="color: #e41b40; font-size: 20vh;"></span>
                <br>
                <span class="counter estilo_contador" data-count="540">0</span>
                <h3>Jovens Impactados</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div style="background: #e41b40; height: 40vh;border-radius: 50%;"></div>
        </div>
        <div class="col-md-4">
            <div style="background: #e41b40; height: 40vh;border-radius: 50%;"></div>
        </div>
        <div class="col-md-4">
            <div style="background: #e41b40; height: 40vh;border-radius: 50%;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="background: #e41b40; height: 40vh;"></div>
        </div>
    </div>

</main>

    <%- include('../partials/footer'); %>