<%- include('../partials/header'); %>
	<main class="container-fluid">
		<div class="row p-5">
			<div class="col-md-12">
				<h1 class="o-projeto">O projeto</h1>
				<img src="/images/sobrenos/imagem-projeto.png" alt="" class="img-fluid">
				<div class="p-sobrenos p-5">
					<h1 class="h1-sobrenos">RECICLA+</h1>
					<p class="p-sbrenosh1">Para preservar o amanhã</p>
					<p class="p-sobrenosp">
						O Projeto Recicla+ surgiu da percepção do Grupo Petrópolis da necessidade de desenvolver
						soluções
						tecnológicos
						com temas relacionados à ESG, sigla que, em inglês, significa Environmental, Social and
						corporate
						Governance,
						algo como melhores práticas ambientais, sociais e de governança em português. Com isso criou em
						parceria
						com a
						SoulCode o primeiro Hackathon do Brasil voltado para iniciativas de ESG.
					</p>
				</div>
			</div>
		</div>

		<div class="row p-5">
			<div class="col-md-12 text-right">
				<h1 class="o-projeto">Grupo Petrópolis</h1>
				<img src="/images/sobrenos/tste.jpg" alt="" class="img-fluid">
				<div class="p-sobrenos-2 p-5">
					<h1 class="h1-sobrenos">APOIADOR</h1>
					<p class="p-sbrenosh1">Contribuidor da causa ESG</p>
					<p class="p-sobrenosp">
						Fundado na cidade de Petrópolis, região serrana do Rio de Janeiro, o Grupo Petrópolis é a maior
						empresa com
						capital 100% nacional do setor. Produz cervejas, bebidas alcoólicas e não alcoólicas, que primam
						pela
						qualidade e identificadas com o gosto do consumidor brasileiro. Buscando sempre trabalhar dentro
						dos mais altos padrões, o Grupo Petrópolis visa sobretudo o desenvolvimento
						contínuo de seus colaboradores, a ética e a transparência nas relações com concorrentes e
						parceiros.
					</p>
				</div>
			</div>
	</main>
	<%- include('../partials/footer'); %>
