<%- include('../partials/header'); %>

	<div class="container p-5 text-left bg-light my-5 rounded shadow">
		<h1 class="text-center">Sobre Nós</h1><br>

		<h1>GRUPO PETRÓPOLIS</h1><br>

		<p>Fundado na cidade de Petrópolis, região serrana do Rio de Janeiro, o Grupo Petrópolis é a maior empresa com
			capital 100% nacional do setor. Produz cervejas, bebidas alcoólicas e não alcoólicas, que primam pela
			qualidade e identificadas com o gosto do consumidor brasileiro.</p>
		<p>Atualmente o Grupo Petrópolis está presente em quase todo o território nacional, por meio de 8 fábricas
			(Petrópolis/RJ, Teresópolis/RJ, Boituva/SP, Bragança Paulista/SP, Rondonópolis/MT, Alagoinhas/BA, Itapissuma/PE
			e Uberaba/MG) e centros de distribuição. Produz as marcas de cerveja Crystal, Lokal, Itaipava, Black Princess,
			Petra e Weltenburger, os energéticos TNT Energy Drink e Magneto, o isotônico TNT, as vodkas Blue Spirit Ice e
			Nordka, o Cabaré ICE e a água Petra.</p>
		<p style="color:red">(colocar imagens do produtos)</p>
		<p>Buscando sempre trabalhar dentro dos mais altos padrões, o Grupo Petrópolis visa sobretudo o desenvolvimento
			contínuo de seus colaboradores, a ética e a transparência nas relações com concorrentes e parceiros. É
			responsável pela geração de mais de 24.500 mil empregos diretos e, por meio do projeto AMA, promove plantio e
			manutenção de milhares de árvores, além de ações de sustentabilidade e programa de educação ambiental para
			escolas municipais.</p>

		<h1>O PROJETO</h1><br>

		<p>O Projeto Recicla+ surgiu da percepção do Grupo Petrópolis da necessidade de desenvolver soluções tecnológicos
			com temas relacionados à ESG, sigla que, em inglês, significa Environmental, Social and corporate Governance,
			algo como melhores práticas ambientais, sociais e de governança em português. Com isso criou em parceria com a
			SoulCode o primeiro Hackathon do Brasil voltado para iniciativas de ESG.</p>
		<p>O Grupo Pegasus Squad foi o vencedor e junto com o setor de Tecnologia do Grupo Petrópolis foram responsáveis
			pela implementação da solução e da Plataforma para realização desse projeto que visa promover a integração entre
			alunos, professores e funcionários, com a participação de pais e de representantes da comunidade, como uma
			oportunidade da empresa ampliar sua atuação junto a sociedade e firmando seu compromisso com o ESG.</p>
	</div>


	<%- include('../partials/footer'); %>