<%- include('../partials/header'); %>

    <div class="container p-5 text-left bg-light my-5 rounded shadow">
        <h1 class="text-center">Cronograma</h1><br>
        <div class="vertical-divisao"></div>
        <div class="row  d-flex align-items-center justify-content-center">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p>
                    <span class="data text-center">13.06.2002</span>
                </p>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p class="bola">
                    <span class="iconify" data-icon="akar-icons:circle-check-fill"
                        style="color: #e41b40; font-size: 7vh;"></span>
                </p>
            </div>
            <div class="col-md-4 pt-3">
                <p class="desc text-justify shadow">
                    <b>Lorem, ipsum dolor.</b> <br>
                    <i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ut, corrupti rem inventore nihil
                        molestias quibusdam sit recusandae eius iste!</i>
                </p>
            </div>
        </div>

        <div class="row d-flex justify-content-sm-center">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p>
                    <span class="data text-center">13.06.2003</span>
                </p>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p class="bola">
                    <span class="iconify" data-icon="akar-icons:circle-check-fill"
                        style="color: #e41b40; font-size: 7vh;"></span>
                </p>
            </div>
            <div class="col-md-4 pt-3">
                <p class="desc text-justify shadow">
                    <b>Lorem, ipsum dolor.</b> <br>
                    <i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ut, corrupti rem inventore nihil
                        molestias quibusdam sit recusandae eius iste!</i>
                </p>
            </div>
        </div>

        <div class="row d-flex justify-content-sm-center">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p>
                    <span class="data text-center">13.06.2004</span>
                </p>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p class="bola">
                    <span class="iconify" data-icon="akar-icons:circle-check-fill"
                        style="color: #e41b40; font-size: 7vh;"></span>
                </p>
            </div>
            <div class="col-md-4 pt-3">
                <p class="desc text-justify shadow">
                    <b>Lorem, ipsum dolor.</b> <br>
                    <i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ut, corrupti rem inventore nihil
                        molestias quibusdam sit recusandae eius iste!</i>
                </p>
            </div>
        </div>

        <div class="row d-flex justify-content-sm-center">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p>
                    <span class="data text-center">13.06.2005</span>
                </p>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <p class="bola">
                    <span class="iconify" data-icon="akar-icons:circle-check-fill"
                        style="color: #e41b40; font-size: 7vh;"></span>
                </p>
            </div>
            <div class="col-md-4 pt-3">
                <p class="desc text-justify shadow">
                    <b>Lorem, ipsum dolor.</b> <br>
                    <i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ut, corrupti rem inventore nihil
                        molestias quibusdam sit recusandae eius iste!</i>
                </p>
            </div>
        </div>
    </div>


    <%- include('../partials/footer'); %>