<%- include('../partials/header'); %>

  <div class="container">
    <h1 style="margin-top: 6vh; margin-bottom: 4vh; color: 
    #D80530; font-weight: bold;">Dúvidas</h1>
    <h5>Aqui você encontra as perguntas mais frequentes sobre o projeto RECICLA+</h5>
    <div style="background-color: rgb(201, 201, 201); padding: 4vh; border-radius: 2vh;">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
              style="background-color: #3e4245; border: none; color: white; font-size: 22px;">
              O que é o projeto Recicla + ?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body parag">O Projeto Recicla+ surgiu da percepção do Grupo Petrópolis da necessidade
              de desenvolver soluções tecnológicos com temas relacionados à ESG, sigla que, em inglês, significa
              Environmental, Social and corporate Governance, algo como melhores práticas ambientais, sociais e de
              governança em português. Com isso criou em parceria com a SoulCode o primeiro Hackathon do Brasil voltado
              para iniciativas de ESG.</div>
            <div class="accordion-body parag">O Grupo Pegasus Squad foi o vencedor e junto com o setor de Tecnologia do
              Grupo Petrópolis foram responsáveis pela implementação da solução e da Plataforma para realização desse
              projeto que visa promover a integração entre alunos, professores e funcionários, com a participação de
              pais e de representantes da comunidade, como uma oportunidade da empresa ampliar sua atuação junto a
              sociedade e firmando seu compromisso com o ESG.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
              style="background-color: #3e4245; border: none; color: white; font-size: 22px;">
              Por que nós devemos reciclar?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body parag">Reciclar é parte de uma série de atitudes que podemos tomar a partir dos
              efeitos gerados por nossos hábitos de consumo e a partir de nossa produção de resíduos.</div>
            <div class="accordion-body parag">A coleta seletiva reduz severos impactos no meio em que vivemos, como a
              piora da qualidade da água e do solo; o entupimento de bueiros e a maior atração de insetos e roedores; o
              agravamento dos efeitos do aquecimento global; o uso de elementos da natureza. Sua adoção, por outro lado,
              é responsável pela geração de empregos e renda de catadores, cooperativas e no setor industrial.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"
              style="background-color: #3e4245; border: none; color: white; font-size: 22px;">
              Quais são os materiais que podem ser reciclados?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body parag">São recicláveis papéis, papelões, plásticos, latas, vidros e embalagens
              longa vida. Além disso, eletroeletrônicos, pilhas e baterias, por exemplo, precisam de cuidado e
              tratamento especiais, devendo ser descartados em pontos específicos de coleta.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour"
              style="background-color: #3e4245; border: none; color: white; font-size: 22px;">
              Como separar adequadamente os resíduos para a coleta seletiva?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body parag">Retire o excesso de sujeira e os líquidos dos materiais recicláveis. No
              caso de garrafas de água, separe também as tampas.
            </div>
            <div class="accordion-body parag">É importante embalar o vidro ou outros objetos cortantes e deixar o
              coletor informado da existência desse material.
            </div>
            <div class="accordion-body parag">Pense sempre em como facilitar ao máximo a vida das pessoas que trabalham
              nessa área. A coleta segura, bem sinalizada, é essencial para o bom funcionamento do sistema e para o
              pleno aproveitamento desse modo de vida sustentável.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive"
              style="background-color: #3e4245; border: none; color: white; font-size: 22px;">
              Onde eu devo entregar materiais recicláveis?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body parag">O material deve ser entregue nas escolas participantes que farão o repasse
              para as cooperativas credenciadas.
            </div>
            <div class="accordion-body parag">Agite sua comunidade, mobilize, informe, convide. Quanto mais gente fizer
              parte do Recicla +, melhor para todos.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix"
              style="background-color: #3e4245; border: none; color: white; font-size: 22px;">
              Posso levar pilhas e baterias de celulares?
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body parag">
              Não. Os comerciantes de pilhas e pequenas baterias alcalinas que tenham em suas composições materiais
              tóxicos, entre os quais chumbo, cadmio, mercúrio, níquel e iodo, instalados na cidade de São Paulo são
              obrigados a aceitar, como depositários, esses produtos quando descarregados, quebrados ou inutilizados,
              para seu posterior recolhimento por seus fabricantes, revendedores ou importadores.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven"
              style="background-color: #3e4245; border: none; color: white; font-size: 22px;">
              Posso entregar lixo domiciliar, como restos de alimentos, lixo industrial ou hospitalar?
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body parag">Não. Os restos de alimentos devem ser colocados no lixo da coleta
              domiciliar. Os resíduos de saúde (de hospitais, ambulatórios, clínicas médicas, veterinárias e
              odontológicas etc) e os gerados pelas indústrias têm serviços diferenciados de coleta.
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 style="margin-top: 5vh; margin-bottom: 2vh;">Para mais dúvidas mande um e-mail pra gente:</h5>
    <h6 style="margin-bottom: 4vh;">reciclamais@grupopetropolis.com.br</h6>
  </div>
  </div>


  <%- include('../partials/footer'); %>
