<%- include('../partials/header'); %>
    <div class="parallax-inicial">
        <div>
            <img src="/images/h1.png" class="img-fluid" alt="" id="h1-banner-inicial">
            <img src="/images/h2.png" class="img-fluid" alt="" id="h2-banner-inicial">
        </div>
        <img src="/images/teste-parallax.png" class="montanha-parallax" alt="">
        <img src="/images/banner-inicial.png" alt="" class="banner-inicial">
    </div>
    <main class="container-fluid">

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="toneladas_e_jovens ml-5">
                    <span class="iconify" data-icon="mdi:recycle" style="color: #4F5152; font-size: 15vh;"></span>
                    <br>
                    <span class="counter estilo_contador" data-count="67">0</span><br>
                    <h3 class="h3-contador">Toneladas Arrecadadas</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="toneladas_e_jovens ml-5">
                    <span class="iconify" data-icon="ic:outline-place" style="color: #4F5152; font-size: 15vh;"></span>
                    <br>
                    <span class="counter estilo_contador" data-count="28">0</span>
                    <h3 class="h3-contador">Cidades</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="toneladas_e_jovens ml-5">
                    <span class="iconify" data-icon="akar-icons:people-group"
                        style="color: #4F5152; font-size: 15vh;"></span>
                    <br>
                    <span class="counter estilo_contador" data-count="540">0</span>
                    <h3 class="h3-contador">Jovens Impactados</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pt-5">
                <img src="/images/inicial/gif-main.gif" alt="" class="img-fluid">
            </div>
        </div>


        <h1 class="h1-vermelho pt-5">Prêmios</h1>        
        <div class="row">            
            <div class="col-md-12 mt-5 mb-5">                
                <p style="text-align: center; letter-spacing: 2vw;" class="premios">
                    <img src="/images/inicial/notb.png" alt="" class="img-fluid premios-img">
                    <img src="/images/inicial/linha.png" alt="" class="img-fluid linha-premios">
                    <img src="/images/inicial/tablet.png" alt="" class="img-fluid premios-img">
                    <img src="/images/inicial/linha.png" alt="" class="img-fluid linha-premios">
                    <img src="/images/inicial/kit.png" alt="" class="img-fluid premios-img">
                    <p style="text-align: center;">*Confira o regulamento para mais detalhes</p>
                </p>                
            </div>            
        </div>

        <h1 class="h1-vermelho pt-5">Trilha</h1> <br/> 
        <div class="row">
            <div class="col-md-12 ">
                <p style="text-align: center; letter-spacing: 3vw;">
                    <img src="/images/inicial/1.png" alt="" class="img-fluid">
                    <img src="/images/inicial/seta.png" alt="" class="img-fluid">
                    <img src="/images/inicial/2.png" alt="" class="img-fluid">
                    <img src="/images/inicial/seta.png" alt="" class="img-fluid">
                    <img src="/images/inicial/3.png" alt="" class="img-fluid">
                    <img src="/images/inicial/seta.png" alt="" class="img-fluid">
                    <img src="/images/inicial/4.png" alt="" class="img-fluid">
                </p>
                <p class="desc text-center ml-2">
                    <b class="mr-5">Inscreva sua escola.</b>
                    <b class="mr-5">Complete tarefas e jogos.</b>
                    <b class="mr-5">Ajude o meio ambiente e a sociedade.</b>
                    <b>Seja o campeão(a).</b>
                </p>
            </div>
        </div>

        <!-- <div class="row d-flex justify-content-center">
            <div class="col-md-7 d-flex pl-5 ml-5 overflow-auto">
                <p class="pr-5 ml-5 p-tarefas">Inscreva sua escola</p>
                <p class="pr-5 p-tarefas">Conclua as tarefas e jogos</p>
                <p class="pr-5 p-tarefas">Ajude a natureza e a sociedade</p>
                <p class="p-tarefas">Seja coroado o grande campeão(a)</p>
            </div>
        </div> -->

        <div class="row pb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <a class="btn-regulamento" href="/inicial/regulamento">Confira o regulamento!</a>
            </div>
        </div>


    </main>

    <%- include('../partials/footer'); %>