<%- include('../partials/header'); %>

	<div class="container p-5 text-left bg-light my-5 rounded shadow">
		<h1 class="text-center">Regulamento</h1><br>

		<p><strong>1. DAS DISPOSIÇÕES GERAIS </strong></p>
		<p>1.1 Este documento contém os dispositivos de regulamentação do PROJETO RECICLA+ do GRUPO PETRÓPOLIS em
			parceria com as Secretarias Estaduais de Educação representantes dos Estados contemplados em 2022, por
			intermédio de uma Comissão Organizadora especialmente designada para tanto; </p>
		<p>1.2 Estarão sujeitos aos termos deste Regulamento todas as escolas que participarem da PROJETO, não sendo
			admissível a alegação de seu desconhecimento, uma vez que lhe será dada suficiente publicidade pela Comissão
			Organizadora;</p>
		<p>1.3 Eventuais omissões deste Regulamento serão analisadas e sanadas exclusivamente pela Comissão
			Organizadora.</p>
		<p>1.4 Serão premiadas as Escolas que atingirem todos os objetivos relacionados neste edital até o número de 100
			escolas, sendo que pelo menos uma escola de cada estado deve ser contemplada.</p>

		<br>
		<p><strong>2. DOS OBJETIVOS DO PROJETO</strong></p>
		<p>O PROJETO procura atender os seguintes objetivos:</p>
		<p>2.1 Levantar a educação ambiental nas escolas de forma dinâmica e interativa;</p>
		<p>2.2 Promover a integração entre alunos, professores e funcionários, com a participação de pais e de
			representantes da comunidade, como uma oportunidade da empresa ampliar sua atuação junto a sociedade e
			firmando seu compromisso com o ASG – Ambiente, Sociedade e Governança;</p>
		<p>2.3 Valorizar o sentimento de afeição pela escola, pela vida, pelo meio em que vivemos, ampliando horizontes
			da prática da cidadania e sustentabilidade;</p>

		<br>
		<p><strong>3. DAS TAREFAS</strong></p>
		<p>O PROJETO possui 3 três conjuntos de tarefas:</p>
		<p>3.1 Coleta de Materiais Recicláveis;</p>
		<p>3.2 Atividades dentro da Escola;</p>
		<p>3.3 Atividades Online;</p>
		<p>3.4 Engajamento em Redes Sociais.</p>

		<br>
		<p><strong>4. DA DATA DE CUMPRIMENTO DAS TAREFAS</strong></p>
		<p>4.1 O período de inscrição será do dia 14/02/22 até o dia 04/03/22;</p>
		<p>4.2 O PROJETO será executado a partir do dia 07 de março de 2022, com termino no dia 05 de junho de 2022, Dia
			Nacional do Meio Ambiente</p>
		<p>4.3 Os resultados serão divulgados na segunda feira, dia 06 de junho de 2022;</p>

		<br>
		<p><strong>5. DA PONTUAÇÃO</strong></p>
		<p>5.1 A Comissão Organizadora do projeto e o Júri irão computar a pontuação que seguirá da seguinte forma:</p>
		<p>5.2 Os materiais recicláveis arrecadados serão calculados em forma de quilos, com a pontuação de 50 pontos a
			cada quilo.</p>
		<p>5.3 As atividades realizadas dentro da escola receberão 10 pontos por atividade registrada na Plataforma do
			PROJETO;</p>
		<p>5.3 As atividades online deverão ser realizadas pelos alunos cadastrados na Plataforma de Ensino do Grupo
			Petrópolis. A cada semana será contabilizada a média de pontos por aluno da escola e serão distribuídos
			pontos
			de acordo com a tabela:</p>
			<div class="container">
				<table class="table">
					<tr>
						<td>Aproveitamento maior que 80%</td>
						<td>500 pontos</td>
					</tr>
					<tr>
						<td>Aproveitamento entre 70 e 80%</td>
						<td>400 pontos</td>
					</tr>
					<tr>
						<td>Aproveitamento entre 50 e 60%</td>
						<td>300 pontos</td>
					</tr>
					<tr>
						<td>Aproveitamento entre 30 e 50% </td>
						<td>200 pontos</td>
					</tr>
					<tr>
						<td>Aproveitamento entre 10 e 30% </td>
						<td>100 pontos</td>
					</tr>
					<tr>
						<td>Aproveitamento com menos de 10%</td>
						<td>50 pontos</td>
					</tr>
				</table>
			</div>		

		<p>5.4 O engajamento em redes sociais será medido por ferramenta específica designada para isso e atribuído o
			valor de 10 pontos por post com a hashtag do PROJETO e da escola participante.</p>

		<br>
		<p><strong>6. DA ATRIBUIÇÃO DE NOTAS, APURAÇÃO E PROCLAMAÇÃO DOS RESULTADOS</strong></p>
		<p>6.1 A apuração dos resultados será feita durante todo o processo, através de envios de comprovantes das
			tarefas cumpridas e materiais arrecadados na Plataforma do PROJETO;</p>
		<p>6.2 A atribuição de notas é exclusiva dos funcionários encarregados pela validação dos documentos enviados;
		</p>
		<p>6.3 A proclamação do resultado final será anunciada por e-mail para os vencedores e poderá ser vista na
			Plataforma por todos no dia 06 de junho de 2022;</p>
		<p>6.4 Em caso de empate, a Comissão Organizadora decidirá dentro dos critérios da sustentabilidade o vencedor.
		</p>

		<br>
		<p><strong>7. DA PREMIAÇÃO DAS ESCOLAS</strong></p>
		<p>7.1 A Escola classificada em 1º lugar em cada estado ganhará o prêmio principal de 10 computadores para
			escola e um para o responsável e um troféu;</p>
		<p>7.2 Outros prêmios:</p>
		<p>7.2.1: As outras escolas que alcançarem maior pontuação na data final, até chegar ao número de 100 escolas,
			receberão kits com tablets e material escolar.</p>

		<br>
		<p><strong>8. DA COMISSÃO ORGANIZADORA</strong></p>
		<p>8.1 São atribuições da Comissão Organizadora:</p>
		<ul>
			<li>Exercer com soberania e autonomia todas as atividades relacionadas com o PROJETO;</li>
			<li>Preparar o Regulamento do projeto;</li>
			<li>Orientar as escolas em relação às dúvidas na interpretação do Regulamento;</li>
			<li>Vetar a inscrição de quaisquer escolas que não preencher rigorosamente as condições estabelecidas no
				Regulamento;</li>
			<li>As decisões da Coordenação do projeto são irrecorríveis;</li>
		</ul>
		<p>8.2 A Comissão Organizadora irá visitar as escolas participantes durante toda a vigência do projeto; com
			avaliação da equipe;</p>
		<p>8.3 A Comissão organizadora irá providenciar um ponto de entrega de PVs para cada escola participante, onde
			serão depositados os recicláveis durante o período do projeto;</p>
		<p>8.4 O Material será recolhido por associação indicada no período determinado pela mesma, ou, podendo ser
			solicitada de acordo com a demanda da Escola;</p>
		<p>8.5 O material será recolhido, dirigido à balança da Associação, onde o material será pesado e entregue em 2
			vias o comprovante de volume, onde ficara uma via com o diretor(a) e outra com ao coordenador do projeto;
		</p>

		<br>
		<p><strong>9. DAS OBRIGAÇÕES DAS ESCOLAS</strong></p>
		<p>9.1 Todas escolas deverão estar comprovadamente inscritas junto à Comissão Organizadora;</p>
		<p>9.2 Todas escolas deverão respeitar o período de inscrições;</p>
		<p>9.3 Os comprovantes de volume de material recolhidos deverão ser enviados até o dia 01 de junho de 2022 na
			plataforma do PROJETO.</p>
		<p>9.4 Cada Escola nomeará um professor para ser responsável pelo cadastro e desenvolvimento do PROJETO na escola.</p>
		<p>9.5 Cada Escola nomeará um funcionário que irá acompanhar o recolhimento do material até a emissão do
			comprovante de volume, devidamente assinado pela Associação e o funcionário da Escola participante.</p>
	</div>


	<%- include('../partials/footer'); %>