<%- include('../partials/header'); %>

    <div class="container p-5 text-left bg-light my-5 rounded shadow">
        <h1 class="text-center">Dúvidas </h1><br>

        <section class="content_faq">
            <div class="row">
                <div class="chamada">
                    <p>Aqui você encontra as perguntas mais frequentes sobre o projeto RECICLA+.</p>
                </div>
                <div class="box_perg">
                    <ul>
                        <li>
                            <h2 class="pergunta ativo">O que é o projeto Recicla +?</h2>
                            <div class="resposta ativo">
                                <p> O Projeto Recicla+ surgiu da percepção do Grupo Petrópolis da necessidade de
                                    desenvolver soluções tecnológicos com temas relacionados à ESG, sigla que, em
                                    inglês, significa Environmental, Social and corporate Governance, algo como melhores
                                    práticas ambientais, sociais e de governança em português. Com isso criou em
                                    parceria com a SoulCode o primeiro Hackathon do Brasil voltado para iniciativas de
                                    ESG.</p>
                                <p> O Grupo Pegasus Squad foi o vencedor e junto com o setor de Tecnologia do Grupo
                                    Petrópolis foram responsáveis pela implementação da solução e da Plataforma para
                                    realização desse projeto que visa promover a integração entre alunos, professores e
                                    funcionários, com a participação de pais e de representantes da comunidade, como uma
                                    oportunidade da empresa ampliar sua atuação junto a sociedade e firmando seu
                                    compromisso com o ESG.
                                </p>
                            </div>
                        </li>
                        <li>
                            <h2 class="pergunta">Por que nós devemos reciclar?</h2>
                            <div class="resposta">
                                <p>Reciclar é parte de uma série de atitudes que podemos tomar a partir dos efeitos
                                    gerados por nossos hábitos de consumo e a partir de nossa produção de resíduos.</p>
                                <p>A coleta seletiva reduz severos impactos no meio em que vivemos, como a piora da
                                    qualidade da água e do solo; o entupimento de bueiros e a maior atração de insetos e
                                    roedores; o agravamento dos efeitos do aquecimento global; o uso de elementos da
                                    natureza. Sua adoção, por outro lado, é responsável pela geração de empregos e renda
                                    de catadores, cooperativas e no setor industrial.</p>
                            </div>
                        </li>
                        <li>
                            <h2 class="pergunta">Quais são os materiais que podem ser reciclados?</h2>
                            <div class="resposta">
                                <p>São recicláveis papéis, papelões, plásticos, latas, vidros e embalagens longa vida.
                                    Além disso, eletroeletrônicos, pilhas e baterias, por exemplo, precisam de cuidado e
                                    tratamento especiais, devendo ser descartados em pontos específicos de coleta.</p>
                            </div>
                        </li>
                        <li>
                            <h2 class="pergunta">Como separar adequadamente os resíduos para a coleta seletiva?</h2>
                            <div class="resposta">
                                <p>Retire o excesso de sujeira e os líquidos dos materiais recicláveis. No caso de
                                    garrafas de água, separe também as tampas.</p>
                                <p>É importante embalar o vidro ou outros objetos cortantes e deixar o coletor informado
                                    da existência desse material.</p>
                                <p>Pense sempre em como facilitar ao máximo a vida das pessoas que trabalham nessa área.
                                    A coleta segura, bem sinalizada, é essencial para o bom funcionamento do sistema e
                                    para o pleno aproveitamento desse modo de vida sustentável.</p>
                            </div>
                        </li>
                        <li>
                            <h2 class="pergunta">Onde eu devo entregar materiais recicláveis?</h2>
                            <div class="resposta">
                                <p>O matéria deve ser entregue nas escolas participantes que farão o repasse para as
                                    cooperativas credenciadas.</p>
                                <p>Agite sua comunidade, mobilize, informe, convide. Quanto mais gente fizer parte do
                                    Recicla +, melhor para todos.</p>
                            </div>
                        </li>
                        <li>
                            <h2 class="pergunta">Posso levar pilhas e baterias de celulares?</h2>
                            <div class="resposta">
                                <p>Não. Os comerciantes de pilhas e pequenas baterias alcalinas que tenham em suas
                                    composições materiais tóxicos, entre os quais chumbo, cadmio, mercúrio, níquel e
                                    iodo, instalados na cidade de São Paulo são obrigados a aceitar, como depositários,
                                    esses produtos quando descarregados, quebrados ou inutilizados, para seu posterior
                                    recolhimento por seus fabricantes, revendedores ou importadores.</p>
                            </div>
                        </li>
                        <li>
                            <h2 class="pergunta">Posso entregar lixo domiciliar, como restos de alimentos, lixo
                                industrial ou hospitalar?</h2>
                            <div class="resposta">
                                <p>Não. Os restos de alimentos devem ser colocados no lixo da coleta domiciliar. Os
                                    resíduos de saúde (de hospitais, ambulatórios, clínicas médicas, veterinárias e
                                    odontológicas etc) e os gerados pelas indústrias têm serviços diferenciados de
                                    coleta.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chamadaFinal">
                    <p>Para mais dúvidas mande um e-mail pra gente: <br> 
                        reciclamais@grupopetropolis.com.br</p>
                </div>
            </div>

        </section>

    </div>
        <%- include('../partials/footer'); %>