<%- include('../partials/headerDashboard'); %>
    <main class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="/images/jogo/banner.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p style="text-align: center;">
                    <img src="/images/jogo/folha-tier.png" alt="" class="img-fluid selos">
                </p>
            </div>
            <div class="col-md-4">
                <p class="p-jogo">Realize as atividades disponíveis durante o evento, descubra novos selos e caminhos.
                    Se divirta, interaja com os outros jogadores e troquem selos. Lembre-se os primeiros a completar
                    esperam prêmios promissores.</p>
            </div>
            <div class="col-md-4">
                <p style="text-align: center;">
                    <img src="/images/jogo/tree-tier.png" alt="" class="img-fluid selos">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="/images/jogo/Jogo Tabuleiro 1.png" alt="" class="img-fluid jogo">
            </div>
        </div>
    </main>
    <%- include('../partials/footerDashboard'); %>