<%- include('../partials/header'); %>

    <section class="vh-100" style="background-color: #787F83;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block" style="background-color: #dfe2e4;">
                            <img src="/images/img-form.png" alt="login form" class="img-fluid"
                                style="border-radius: 1rem; margin-top: 6vh;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center" style="background-color: #dfe2e4;">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form>
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3"></i>
                                        <span class="h1 fw-bold mb-0"><img src="/images/logo.png"
                                                alt="Logo-reciclar"></span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Faça o seu login
                                    </h5>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form2Example17" class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example17">Digite seu email</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example27"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example27">Digite sua senha</label>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                                    </div>
                                    <a class="small text-muted" href="#!">Esqueceu a sua senha?</a>
                                    <p class="mb-5 pb-lg-2">Ainda não possui uma conta? <a href="/usuarios/cadastrarUsuarios" style="color: #D80530;">Crie uma conta</a></p>
                                    <a href="#!" class="small text-muted">Termos de uso.</a>
                                    <a href="#!" class="small text-muted">Política de Privacidade</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer'); %>