<%- include('../partials/header'); %>

    <div class="container p-5 text-left bg-light my-5 rounded shadow">
        <h1 class="text-center">Termos e Condições</h1><br>
        <p>	A Finch Soluções construiu o aplicativo Triare Mobile como um aplicativo comercial. Este SERVIÇO é fornecido pela Finch Soluções e é destinado para uso como está.</p>
		<p>Esta página é usada para informar os visitantes sobre nossas políticas com a coleta, uso e divulgação de Informações Pessoais, caso alguém decida usar nosso Serviço.</p>
		<p>Se você optar por usar nosso Serviço, concordará com a coleta e uso de informações relacionadas a essa política. As Informações Pessoais que coletamos são usadas para fornecer e melhorar o Serviço. Nós não usaremos ou compartilharemos suas informações com ninguém, exceto conforme descrito nesta Política de Privacidade.</p>
		<p>Os termos usados nesta Política de Privacidade têm os mesmos significados que os nossos Termos e Condições, que são acessíveis no Triare Mobile, a menos que definido de outra forma nesta Política de Privacidade.</p>
					  
		<p><strong>Coleta de Informações e Uso</strong></p>
		<p>Para uma melhor experiência, ao usar nosso Serviço, podemos solicitar que você nos forneça algumas informações pessoalmente identificáveis, incluindo, entre outras, a Notificação do Firebase, One Signal. As informações que solicitamos serão retidas por nós e usadas <b style="color: #CC1000">conforme descrito nesta Política de Privacidade.</b></p>
		<p>O aplicativo usa serviços de terceiros que podem coletar informações usadas para identificá-lo</p>
		<p>Links para a Política de Privacidade de provedores de serviços de terceiros usados pelo aplicativo</p>
		<ul>
			<li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li>
			<li><a href="https://onesignal.com/privacy_policy" target="_blank">OneSignal Services</a></li>
			<li><a href="https://firebase.google.com/support/privacy/" target="_blank">Firebase Services</a></li>
		</ul>

		<p><strong>Local Storage</strong></p> 
		<p>LocalStorage são pequenos ficheiros para armazenamento de dados guardados no próprio browser que permanecem entre visitas ao website. Estes dados identificam informação específica acerca de visitas anteriores ao site, retendo apenas informação relacionada com as suas preferências ou ações tomadas, não incluindo, como tal, os seus dados pessoais.</p>
		<p>Usamos LocalStorage para reconhecer visitas repetidas ao nosso aplicativo e para facilitar a navegação no mesmo (por exemplo, o link do ultima URL usada para acesso).</p>
					  
		<p><strong>Provedores de serviço</strong></p>
		<p>Podemos empregar empresas e indivíduos de terceiros pelos seguintes motivos:</p>
		<ul>
			<li>Para facilitar o nosso serviço;</li>
			<li>Para fornecer o serviço em nosso nome;</li>
			<li>Para executar serviços relacionados a serviços; ou</li>
			<li>Para nos ajudar a analisar como nosso Serviço é usado.</li>
		</ul>
		<p>Queremos informar aos usuários deste Serviço que esses terceiros somente tem acesso às suas Informações Pessoais que já estejam registradas no sistema Triare. O motivo é executar, em nosso nome, as tarefas atribuídas aos Serviços de Terceiros. No entanto, eles são obrigados a não divulgar ou usar as informações para qualquer outra finalidade.</p>

		<p><strong>Segurança</strong></p> 
		<p>Valorizamos sua confiança ao nos fornecer suas Informações Pessoais, e por isso estamos nos esforçando para usar meios comercialmente aceitáveis de protegê-los. Mas lembre-se de que nenhum método de transmissão pela internet ou método de armazenamento eletrônico é 100% seguro e confiável, e não podemos garantir sua segurança absoluta.</p>
		
		<p><strong>Links para outros sites</strong></p> 
		<p>Este Serviço pode conter links para outros sites. Se você clicar em um link de terceiros, você será direcionado para esse site. Observe que esses sites externos não são operados por nós. Portanto, aconselhamos fortemente que reveja a Política de Privacidade destes sites. Não temos controle e não assumimos nenhuma responsabilidade pelo conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros.</p>
		
		<p><strong>Privacidade das crianças</strong></p> 
		<p>Esses Serviços não abordam ninguém com idade inferior a 13 anos. Não coletamos intencionalmente informações de identificação pessoal de crianças com menos de 13 anos. No caso de descobrirmos que uma criança com menos de 13 anos nos forneceu informações pessoais, imediatamente a excluímos de nossos servidores. Se você é pai / mãe ou responsável legal e sabe que seu filho nos forneceu informações pessoais, entre em contato conosco para que possamos tomar as providências necessárias.</p>
					  
		<p><strong>Mudanças nesta Política de Privacidade</strong></p> 
		<p>Podemos atualizar nossa Política de Privacidade de tempos em tempos. Assim, aconselhamos que você revise esta página periodicamente para quaisquer alterações. Vamos notificá-lo de quaisquer alterações postando a nova Política de Privacidade nesta página. Estas alterações entram em vigor imediatamente após serem publicadas nesta página.</p>
					  
		<p><strong>Contate-Nos</strong></p>
		<p>Se você tiver alguma dúvida ou sugestão sobre nossa Política de Privacidade, não hesite em nos contatar.</p>
    </div>


    <%- include('../partials/footer'); %>