<%- include('../partials/headerDashboard'); %>

    <main class="container-fluid">

        <p class="m-5 p-5">
            AQUI VEM O DASHBOARD PROFESSOR
            <br>
            LEMBRAR DE EDITAR O HEADER DE PAGINAS DE DASHBOARD
        </p>
        

    </main>

    <%- include('../partials/footer'); %>