<%- include('../partials/headerDashboard'); %>

<main class="container-fluid">
    <div class="row principal">
        <div class="row">
            <div class="col-md-3 pt-3 m-3 ">
                <h1 class="titulo">Capacitação dos professores</h1>
                <p class="white">Acompanhe seu progresso:</p>
                <div class="progress" style="background-color: grey;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                        role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"
                        style="width: 1%;" id="barraProgresso">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pt-5 mt-3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <b>Módulo 1: &nbspLorem ipsum dolor sit amet.</b>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="nav justify-content-center d-flex flex-column">
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Primeiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Segundo Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Terceiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Quarto Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <b>Módulo 2:&nbsp Lorem ipsum dolor sit.</b>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="nav justify-content-center d-flex flex-column">
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Primeiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Segundo Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Terceiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Quarto Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <b>Módulo 3:&nbsp Lorem, ipsum dolor.</b>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="nav justify-content-center d-flex flex-column">
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Primeiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Segundo Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Terceiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Quarto Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <b>Módulo 4:&nbsp Lorem ipsum dolor.</b>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="nav justify-content-center d-flex flex-column">
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Primeiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Segundo Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Terceiro Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                                <li class="nav-item">
                                    <label class="control control-checkbox">
                                        Quarto Vídeo
                                        <input type="checkbox" />
                                        <div class="control_indicator"></div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="/images/vídeo.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-3 text-center pb-3">
                <h1>Ranking</h1>
                <p class="white">Você está no Tier Vidro!</p>
                <img src="/images/mascote.png" class="img-fluid imagem-rei-lixeira" alt="Rei Lixeira">
                <button class="botao-vamos-jogar">Vamos jogar?</button>
                <h4>1083<sup>xp</sup></h4>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 35%"  aria-valuenow="35"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>73<sup>xp</sup> para ir</p>
            </div>
        </div>
    </div>
    </div>
</main>


    <%- include('../partials/footerDashboard'); %>