
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
    background: #E5E5E5 !important;
    font-family: 'Nunito', sans-serif;
}

.navbar, .menu-global {
    background: #3E4245  !important;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.toneladas_e_jovens {
    background: rgb(211, 211, 211);
    text-align: center;
    padding: 4vh !important;
}

.header a {
    color: white;
}

.nav-link:hover {
    background: #E5E5E5;
    border-radius: 10vh;
    color: #3E4245;
}

.sel {
    background: #E5E5E5;
    border-radius: 10vh;
    color: #3E4245 !important;
}

.sel:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .nav-link:hover {
        background: none !important;
        color: red;
    }
    .sel {
        background: white;
        padding: 2vh !important;
        border-radius: 10vh;
        color: red !important;
    }
    .menu_footer a:hover {
        background: none !important;
        color: red;
        padding: 1vh;
    }
}

.redes_sociais {
    font-size: 7vh;
}

.menu_footer a {
    text-decoration: none !important;
    color: #ffff;
    padding: 1vh;
}

.menu_footer a:hover {
    background: white;
    border-radius: 10vh;
    color: red;
    padding: 1vh;
}

.menu_footer {
    font-size: 2.5vh !important;
}

.logo_hover:hover {
    background: transparent;
    border: none;
}

.botao_manual {
    background: #e41b40;
    border: none;
    padding: 2vh;
    border-radius: 5vh;
}

.botao_manual:hover {
    opacity: 0.7;
    color: white;
}

.estilo_contador {
    font-size: 5vw;
    letter-spacing: 1vw;
    font-weight: bold;
}

header {
    background-image: url('/img/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.p_white {
    color: white;
    font-size: 2.5vh;
}

.copyright {
    color: white;
}

.copyright a {
    text-decoration: none;
    color: #e41b40;
    font-size: 2.5vh;
}
