.white {
    color: white;
}

.principal{
    padding: 4vw !important;
}

h1 {
    color: #D80530;
    font-size: 5vh !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
}
b{
    color: black;
}

.navbar, .menu {
    background-color: #7e858a !important;
    position: fixed;
}

.titulo{
    margin-top: 7vh;
}

.acordeao{
    z-index: -1 !important;
}

.accordion-item {
    border: none !important;
    background: transparent !important;
}

.accordion-button {
    background: transparent !important;
}

label {
    color: black;
    cursor: pointer;
}

.form-check-input {
    border-radius: 10vh !important;
    border: 1px solid black !important;
    cursor: pointer;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid #3e4245;
    border-radius: 10px;
}

.control:hover input~.control_indicator, .control input:focus~.control_indicator {
    background: #ffffff;
}

.control input:checked~.control_indicator {
    background: #E5E5E5;
}

.control:hover input:not([disabled]):checked~.control_indicator, .control input:checked:focus~.control_indicator {
    background: #E5E5E5;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 6px;
    top: -5px;
    width: 8px;
    height: 16px;
    border: solid #d9032f;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

.imagem-rei-lixeira{
    margin-top: 1vh !important;
    margin-bottom: 3vh !important;
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.menu-drop{
    margin-right: 6vw;
}

.control-checkbox input+.control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control_indicator::before {
    animation-name: s-ripple-dup;
}

.botao-vamos-jogar{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #D80530;
    border: none;
}

body {
    background: #f8f9fa !important;
    font-family: 'Roboto', sans-serif !important;
}

.dropdown-toggle::after {
    color: #D80530;
}

.footerDash{
    background-color: #7e858a;
}

.containerEnvio{
    height: 100vh;
    padding-top: 30vh;
}

.form-envio{
    border: 0.5vh solid #D80530;
    padding: 5vh;
    margin: 0 auto;
    background: #3E4245;
    border-radius: 1vh;
}

#formFileMultiple{
    background: transparent;
    color: white;
}

.labelEnvio, .bEnvio{
    font-weight: bold;
    color: white;
}

.form-check-label{
    font-weight: normal !important;
}